[submodule "Plugin.SqlSettingsProvider/WinForms.Shared"]
	path = Plugin.SqlSettingsProvider/WinForms.Shared
	url = https://github.com/DKorablin/WinForms.Shared.git
[submodule "WinForms.Shared"]
	path = WinForms.Shared
	url = https://github.com/DKorablin/WinForms.Shared.git
[submodule "Data.Shared"]
	path = Data.Shared
	url = https://github.com/DKorablin/Data.Shared.git
[submodule "Images.Shared"]
	path = Images.Shared
	url = https://github.com/DKorablin/Images.Shared
